
.container{
  display: inline-block;
  text-align: center;
}


.stuff {
width: 1200px;
}

ul{
  height: 437px;
  width: 260px;
  display: inline-block;
  float: left;
  list-style: none;
  text-align: center;
  margin: auto;

}

li {
  display: block;
  width: 250px;
  margin-right: 10px;
}


.images{
padding-top: 50px;


img {
  height: 250px;
  width: 250px;
}
}

.names{
  font-weight: bold;
  //text-decoration: underline;
  //text-decoration-color: #46A676;
  font-family: 'Open Sans', sans-serif;
  padding-top: 5px;

  span{
    border-bottom: solid green;
    border-width: .5px;
  }
}

.emails{
  font-family: 'Open Sans', sans-serif;
  color: #CFCFCF;
  padding-top: 5px;
}

.streets{
  padding-top: 5px;
  color: #AAAAAA;
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.cities{
  color: #AAAAAA;
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.phonenumbers{
  padding-top: 8px;
  color: green;
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: transparent;
   text-shadow: 0 0 5px green;
}

.phonenumbers:hover {
    color: green;
}
